body {
  padding-top: 50px;
}
.outwrapper { width:960px; }
.starter-template {
  padding: 10px;
  text-align: center;
}
#myform { margin-bottom:20px; }
table.filelist { margin-top:40px;text-align:left; }
table.filelist tbody tr td em { font-size:0.8em;color:#7F7F7F; }
input.descr { max-width:640px;margin:auto;}
pre.smaller {
    text-align: left;
    max-width: 400px;
    margin: 20px auto;
}
